<launch>
    <arg name="cam_config" default="file:///home/ubuntu/tUR/ROSCode/RAM/camera_info/ost.yaml"/>
    <arg name="show_tag_detections" default="true"/>

    <node launch-prefix="xterm -e gdb -ex run --args" name="arm_controller" pkg="arm_controller" type="arm_controller" />
    <node launch-prefix="xterm -e gdb -ex run --args" name="logic_controller" pkg="logic_controller" type="logic_controller" />

</launch>
