<launch>
    <node launch-prefix="xterm -e gdb -ex run --args" name="arm_controller" pkg="arm_controller" type="arm_controller" />
    <node launch-prefix="xterm -e gdb -ex run --args" name="logic_controller" pkg="logic_controller" type="logic_controller" />

    <arg name="video_device" default="/dev/video1"/>
    <arg name="show_tag_detections" default="false"/>
    
    <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen" >
        <param name="video_device" value="/dev/video1" />
        <param name="image_width" value="720" />
        <param name="image_height" value="480" />
        <param name="pixel_format" value="yuyv" />
        <param name="camera_frame_id" value="usb_cam" />
        <param name="io_method" value="mmap"/>
        <param name="camera_info_url" value="file:///home/craptop/Desktop/ArmCam/camera_info/ost.yaml" />
    </node>

</launch>
