<launch>
    <arg name="mon_one" default="cam_one_mon" />
    <arg name="mon_two" default="cam_two_mon" />
    <arg name="mon_three" default="cam_three_mon" />
    <arg name="mon_four" default="cam_four_mon" />
    <arg name="mon_five" default="cam_five_mon" />
    <arg name="mon_six" default="cam_six_mon" />
    <arg name="mon_seven" default="cam_seven_mon"/>

    <node name="ram_network_master" pkg="ram_network" type="ram_network_node" output="screen">
        <param name="mon_one" value="$(arg mon_one)" />
        <param name="mon_two" value="$(arg mon_two)" />
        <param name="mon_three" value="$(arg mon_three)" />
        <param name="mon_four" value="$(arg mon_four)" />
        <param name="mon_five" value="$(arg mon_five)" />
        <param name="mon_six" value="$(arg mon_six)" />
        <param name="mon_seven" value="$(arg mon_seven)" />
    </node>

    <node name="obs_cam_one" pkg="usb_cam_sim" type="usb_cam_sim_node" output="screen" >
        <param name="img_location" value="/home/ubuntu/tUR/ROSCode/RAM/sim_imgs/cam_one.png" />
    </node>

    <node name="obs_cam_two" pkg="usb_cam_sim" type="usb_cam_sim_node" output="screen" >
        <param name="img_location" value="/home/ubuntu/tUR/ROSCode/RAM/sim_imgs/cam_two.png" />
    </node>

    <node name="obs_cam_three" pkg="usb_cam_sim" type="usb_cam_sim_node" output="screen" >
        <param name="img_location" value="/home/ubuntu/tUR/ROSCode/RAM/sim_imgs/cam_three.png" />
    </node>

    <node name="obs_cam_four" pkg="usb_cam_sim" type="usb_cam_sim_node" output="screen" >
        <param name="img_location" value="/home/ubuntu/tUR/ROSCode/RAM/sim_imgs/cam_four.png" />
    </node>

    <node name="cam_one_mon" pkg="cam_monitor" type="cam_monitor_node">
        <param name="video_location" value="$(env HOME)/RamVideos/MonOne/videos/"/>
        <param name="img_topic" value="/obs_cam_one/image_raw"/>
        <param name="snap_location" value="$(env HOME)/RamVideos/MonOne/snap/"/>
    </node>

    <node name="cam_two_mon" pkg="cam_monitor" type="cam_monitor_node">
        <param name="video_location" value="$(env HOME)/RamVideos/MonTwo/videos/"/>
        <param name="img_topic" value="/obs_cam_two/image_raw"/>
        <param name="snap_location" value="$(env HOME)/RamVideos/MonTwo/snap/"/>
    </node>

    <node name="cam_three_mon" pkg="cam_monitor" type="cam_monitor_node">
        <param name="video_location" value="$(env HOME)/RamVideos/MonThree/videos/"/>
        <param name="img_topic" value="/obs_cam_three/image_raw"/>
        <param name="snap_location" value="$(env HOME)/RamVideos/MonThree/snap/"/>
    </node>

    <node name="cam_four_mon" pkg="cam_monitor" type="cam_monitor_node">
        <param name="video_location" value="$(env HOME)/RamVideos/MonFour/videos/"/>
        <param name="img_topic" value="/obs_cam_four/image_raw"/>
        <param name="snap_location" value="$(env HOME)/RamVideos/MonFour/snap/"/>
    </node>

    <node name="cam_five_mon" pkg="cam_monitor" type="cam_monitor_node">
        <param name="video_location" value="$(env HOME)/RamVideos/MonFive/videos/"/>
        <param name="img_topic" value="/obs_cam_five/image_raw"/>
        <param name="snap_location" value="$(env HOME)/RamVideos/MonFive/snap/"/>
    </node>

    <node name="cam_six_mon" pkg="cam_monitor" type="cam_monitor_node">
        <param name="video_location" value="$(env HOME)/RamVideos/MonSix/videos/"/>
        <param name="img_topic" value="/obs_cam_six/image_raw"/>
        <param name="snap_location" value="$(env HOME)/RamVideos/MonSix/snap/"/>
    </node>

    <node name="cam_seven_mon" pkg="cam_monitor" type="cam_monitor_node">
        <param name="video_location" value="$(env HOME)/RamVideos/MonSeven/videos/"/>
        <param name="img_topic" value="/obs_cam_seven/image_raw"/>
        <param name="snap_location" value="$(env HOME)/RamVideos/MonSeven/snap/"/>
    </node>

</launch>
