<launch>
    <arg name="cam_config" default="file:///home/korisd/mylaptop_cam_calib/ost.yaml"/>
    <!-- <arg name="cam_config" default="file:///home/korisd/tUR/ROSCode/RAM/camera_info/ost.yaml"/> -->
    <arg name="dev1" default="/dev/video0" />
    <arg name="dynamixel_bus" default="/dev/ttyUSB0" />
    <env name="LUA_PATH" value="$(env HOME)/tUR/ROSCode/RAM/src/arm_motion/scripts/?.lua" />
    <node launch-prefix="xterm -e gdb -ex run --args" name="arm_motion_driver" pkg="arm_motion" type="arm_motion_driver" />
    <node launch-prefix="xterm -e gdb -ex run --args" name="arm_motion_kinematics" pkg="arm_motion" type="arm_motion_kinematics" />
    <node launch-prefix="xterm -e gdb -ex run --args" name="arm_motion_trial" pkg="arm_motion" type="arm_motion_trial" />
    <node launch-prefix="xterm -e gdb -ex run --args" name="arm_motion_path" pkg="arm_motion" type="arm_motion_path" />

   <node name="usb_cam_one" pkg="usb_cam" type="usb_cam_node" output="screen" >
      <param name="video_device" value="$(arg dev1)" />
      <!-- <param name="image_width" value="720" /> -->
      <!-- <param name="image_width" value="680" /> -->
      <param name="image_height" value="480" />
      <param name="pixel_format" value="yuyv" />
      <param name="camera_frame_id" value="usb_cam" />
      <param name="io_method" value="mmap"/>
      <param name="camera_info_url" value="$(arg cam_config)" />
   </node>

   <node name="apriltag_detector_one" pkg="apriltags_ros" type="apriltag_detector_node" >
      <remap from="camera_info" to="/usb_cam_one/camera_info" />
      <remap from="image_rect" to="/usb_cam_one/image_raw" />
      <remap from="tag_detections_image" to="/apriltag_detections_one_img" />
      <remap from="tag_detections" to="/apriltag_detections_one" />
      <param name="tag_family" type="str" value="16h5" />
      <rosparam param="tag_descriptions">[
          {id:  0,  size: 0.046},
          {id:  2,  size: 0.046},
          {id:  3,  size: 0.046},
          {id:  6,  size: 0.046},
          {id:  8,  size: 0.046},
          {id:  12,  size: 0.046},
          {id:  27,  size: 0.046},
          {id:  28,  size: 0.046},
          {id:  29,  size: 0.046} ]
      </rosparam>
   </node>
</launch>
